# local .terraform directory

.terraform/*

#ignore tf state file

*.tfstate
*.tfstate.*

# tfvar file

*.tfvars

# ignore cli configuration files

.terraformrc
terraform.rc

# ignore crash logs

crash.log